<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<html>
<head>
    <meta charset="UTF-8">
    <title>权限管理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../../../static/struct/layui/css/layui.css" media="all">
    <!--<script type="text/javascript" src="../../static/js/login/jquery.min.js"></script>-->
    <script src="../../../static/struct/layuimini/lib/jquery-3.4.1/jquery-3.4.1.min.js"></script>
    <script src="../../../static/struct/layui/layui.js" charset="utf-8"></script>
    <script src="../../../static/js/generaljs/watermarkbycanvas.js" charset="UTF-8"></script>

</head>
<body onload="addWaterMarker()">
<!--
<p>Hello, <shiro:principal/>, how are you today?</p>
<p><shiro:user>guest</shiro:user></p>
<span th:text="${session.usercode}">人员工号</span>
-->
<div class="demoTable">
    搜索ID：
    <div class="layui-inline">
        <input class="layui-input" name="id" id="demoReload" autocomplete="off">
    </div>
    <button class="layui-btn" data-type="reload">搜索</button>
</div>

<table class="layui-hide" id="LAY_table_user" lay-filter="user"></table>


<script>
    layui.use('table', function(){
        var table = layui.table;

        //方法级渲染
        table.render({
            elem: '#LAY_table_user'
            ,url: '/permissionList'
            ,cols: [
                //PERMISSIONID, NAME, PERMISSION,URL, VDEF1, VDEF2,VDEF3, VDEF4, VDEF5
                [
                {checkbox: true, fixed: true}
                ,{field:'permissionid', title: 'ID', width:80, sort: true, fixed: true}
                ,{field:'name', title: '用户名', width:80}
                ,{field:'permission', title: '性别', width:80, sort: true}
                ,{field:'url', title: '城市', width:80}
                ,{field:'vdef1', title: '签名'}
                ,{field:'vdef2', title: '积分', sort: true, width:80}
                ,{field:'vdef3', title: '评分', sort: true, width:80}
                ,{field:'vdef4', title: '职业', width:80}
                ,{field:'vdef5', title: '财富', sort: true, width:135}
            ]
            ]
            ,id: 'testReload'
            ,page: true
            ,height: 310
        });

        var $ = layui.$, active = {
            reload: function(){
                var demoReload = $('#demoReload');

                //执行重载
                table.reload('testReload', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        key: {
                            id: demoReload.val()
                        }
                    }
                }, 'data');
            }
        };

        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>

</body>
<!--
<script type="text/javascript">
    watermark({"watermark_txt": initpro()});
</script>
-->


</html>