<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../../../../static/struct/layuimini/lib/layui-v2.5.5/css/layui.css " media="all">
    <!--<script type="text/javascript" src="../../static/js/login/jquery.min.js"></script>-->
    <script src="../../../../static/struct/layuimini/lib/jquery-3.4.1/jquery-3.4.1.min.js"></script>
    <script src="../../../../static/js/generaljs/watermarkbycanvas.js" charset="UTF-8"></script>
    <link rel="stylesheet" href="../../../static/css/generalcss/layuitablecheckboxfix.css">
    <script src="../../../../static/struct/layuimini/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
    <link rel="stylesheet" href="../../../../static/struct/layuimini/css/public.css" media="all">
    <link rel="stylesheet" href="../../../../static/struct/layuimini/js/lay-module/step-lay/step.css" media="all">
    <script src="../../../../static/struct/layuimini/js/lay-config.js?v=1.0.4" charset="utf-8"></script>
    <script src="../../../../static/js/lims/createproject.js" charset="utf-8"></script>
</head>
<body onload="addWaterMarker()" style="margin: 10px 10px 10px 10px" >
<!--
<p>Hello, <shiro:principal/>, how are you today?</p>
<p><shiro:user>guest</shiro:user></p>
<span th:text="${session.usercode}">人员工号</span>.
<option th:each="proj:${projType}"  th:value="${proj}" th:text="${proj}"  ></option>
-->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body" style="padding-top: 40px;">
            <div class="layui-carousel" id="stepForm" lay-filter="stepForm" style="margin: 0 auto;">
                <div carousel-item>
                    <!--第一页-->
                    <div>
                        <form class="layui-form" style="margin: 0 auto;max-width: 80%;padding-top: 40px;">
                            <div class="layui-collapse" lay-accordion>
                                <div class="layui-colla-item">
                                    <h2 class="layui-colla-title">委托单基本信息填写</h2>
                                    <div class="layui-colla-content layui-show">
                                        <!--第一个百叶窗内-->
                                    </div>
                                </div>
                                <div class="layui-colla-item">
                                    <h2 class="layui-colla-title">样品基本信息填写</h2>
                                    <div class="layui-colla-content">
                                        <!--第二个百叶窗内-->
                                    </div>
                                </div>
                                <div class="layui-colla-item">
                                    <h2 class="layui-colla-title">任务基本信息填写</h2>
                                    <div class="layui-colla-content">
                                        <!--第三个百叶窗内-->
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn" lay-submit lay-filter="formStep">
                                        &emsp;下一步&emsp;
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--第二页-->
                    <div>
                        <form class="layui-form" style="margin: 0 auto;max-width: 80%;padding-top: 40px;">




                        </form>
                    </div>
                    <!--第三页-->
                    <div>
                        <form class="layui-form" style="margin: 0 auto;max-width: 80%;padding-top: 40px;">




                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


</body>

</html>